.workspace_toolbar .view {
    background: url('../../../images/src/report-view.png') 50% 50% no-repeat;
}
.workspace_toolbar .view.table {
    background: url('../../../images/src/table-view.png') 50% 50% no-repeat !important;
}
.workspace_toolbar .union {
    background: url('../../../images/src/union.png') 50% 50% no-repeat;
}
.workspace_toolbar .join {
    background: url('../../../images/src/join.png') 50% 50% no-repeat;
}
.workspace_toolbar .formula {
    background: url('../../../images/src/formula.png') 50% 50% no-repeat;
}
.workspace_toolbar .export_pdf {
    background-position: -390px 7px;
}
.workspace_toolbar .xls_form {
    background: url('../../../images/src/XWS.png') 50% 50% no-repeat;
}
.workspace_toolbar .cda {
    background: url('../../../images/src/cdaFileType.png') 50% 50% no-repeat;
}
.workspace_toolbar .prpt {
    background: url('../../../images/src/prpt.png') 50% 50% no-repeat;
}

.rowlimit option{
	text-align: right	
}

/*
 * Model Navigation Tree
 */
.category_tree ul,
.resultlist_tree ul {
    margin: 0;
    padding: 0;
}
.category_tree ul li,
.resultlist_tree ul li {
    line-height: 19px;
    list-style-type: none;
    margin: 0;
    padding-left: 0;
}
.category_tree ul li span.collapsed,
.resultlist_tree ul li span.collapsed {
    background-position: -1406px -95px;
    cursor: pointer;
    padding: 5px 17px;
}
.category_tree ul li span.expand,
.resultlist_tree ul li span.expand {
    background-position: -1538px -95px;
    cursor: pointer;
    padding: 5px 17px;
}
.category_tree ul li a,
.resultlist_tree ul li a {
    color: #222;
    padding: 5px;
    text-decoration: none;
}
.category_tree ul li a.folder_expand,
.resultlist_tree ul li a.folder_expand {
    background: #fff;
}
.category_tree ul li a.folder_collapsed,
.resultlist_tree ul li a.folder_collapsed {
    background: #fff;
}
.category_tree ul li ul,
.resultlist_tree {
    padding: 0 0 0 18px;
    margin: 0;
}
.category_tree ul li ul li,
.resultlist_tree li {
    padding-left: 18px;
}
.category_tree ul li ul li a {
    /* cursor: move; */
    padding-left: 20px;
    background: url('../../../images/src/bullet_blue.png') 0px -2px no-repeat;
}

.category_tree ul .ui-draggable-dragging {
    background: #e5f6ff !important;
    background: -webkit-gradient(linear, left top, left bottom, from(#e0e9ef), to(#c2d5e2)) !important;
    background: -moz-linear-gradient(top, #e0e9ef 0%, #c2d5e2 100%) !important;
    border: 1px solid #2a6085 !important;
    color: #2a6085 !important;
    text-align: center;
}
.category_tree ul .ui-draggable-dragging a {
    color: #2a6085 !important;
}

.d_dimension span.sort.up {
	/*background-position: -264px 2px;*/
	background: url(../../../images/sort_up.png) no-repeat;
    height: 16px;
    width: 16px;
    float: right;
    cursor: pointer;
}

.d_dimension span.sort.down {
	/*background-position: -264px 2px;*/
	background: url(../../../images/sort_down.png) no-repeat;
    height: 16px;
    width: 16px;
    float: right;
    cursor: pointer;
}

.d_dimension span.sort.none {
	/*background-position: -264px 2px;*/
	background: url(../../../images/sort_none.png) no-repeat;
    height: 16px;
    width: 16px;
    float: right;
    cursor: pointer;
}


/*
 * Report Toolbar with navigation and edit components
 */

/*#contents thead ,*/
.workspace_report{
    overflow: hidden;
    padding: 0 10px;
}

.workspace_report_canvas{
    overflow: auto;
    padding: 0 10px;	
}

.workspace-report-toolbar{
	width: 100%;
	border-top: medium none !important;
    /*margin-top: 10px;*/
    margin-bottom: 10px;
    margin-left:auto; 
    margin-right:auto;
    height: 20px;
    font-weight: bold;
    /*padding-top: 6px;*/
    line-height: 1.5em;
    padding: 5px 10px 6px;
    background: -moz-linear-gradient(center top , #FFFFFF 0%, #F0F0F0 100%) repeat scroll 0 0 transparent;
    border: 1px solid #CCCCCC;
    font-size: 12px;
    text-shadow: 1px 1px 0 #FFFFFF;
        text-align: center;
}

.report-toolbar .nav-container{
   float: left;
   display: inline;
   margin-left: 100px;
}

.report-toolbar .nav-container a{
   float: left;
   display: inline;
}

.report-toolbar .nav-container div{
   float: left;
   display: inline;
}

.report-toolbar a.button{
	float: left;
    display: block;
    height: 12px;
    padding: 2px;
    margin-left: 2px;
    margin-right: 2px;
    width: 12px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}

.report-toolbar .first_page{
	/*background-position: -264px 2px;*/
	background: url(../../../images/resultset_first.png) no-repeat;
    height: 16px;
    width: 16px;
        margin-left: 2px;
    margin-right: 2px;
    float: right;
    cursor: pointer;
}

.report-toolbar .last_page{
	/*background-position: -264px 2px;*/
	background: url(../../../images/resultset_last.png) no-repeat;
    height: 16px;
    width: 16px;
        margin-left: 2px;
    margin-right: 2px;
    float: right;
    cursor: pointer;
}

.report-toolbar .prev_page{
	/*background-position: -264px 2px;*/
	background: url(../../../images/resultset_previous.png) no-repeat;
    height: 16px;
    width: 16px;
        margin-left: 2px;
    margin-right: 2px;
    float: right;
    cursor: pointer;
}

.report-toolbar .next_page{
	/*background-position: -264px 2px;*/
	background: url(../../../images/resultset_next.png) no-repeat;
    height: 16px;
    width: 16px;
        margin-left: 2px;
    margin-right: 2px;
    float: right;
    cursor: pointer;
}


.report_border {
   margin-left:auto; 
   margin-right:auto;
   -moz-box-shadow: 5px 5px 5px #ccc;
   -webkit-box-shadow: 5px 5px 5px #ccc;
   box-shadow: 5px 5px 5px #ccc;
   border: 1px solid #CCCCCC;
}

.report_border table{
   margin-left:auto; 
   margin-right:auto;
}

.adhoc-highlight{
	background-image:url(../../../images/highlight.png) !important;
}

.report-hover{
	background-image:url(../../../images/highlight.png) !important; 
	opacity: 0.5;
	z-index: 9999;
}

.report-hover.editInPlace-active{
	background-image: none !important; 
	opacity: 1 !important;
}

/*
 * Editor Toolbox
 */
.disabled_editor {
    opacity: 0.3 !important;
}

/*
#edit-align{
	margin-top: 10px
}

#padding, #color{
	margin-top: 5px
}
*/

.fontpick_container{
	background: -moz-linear-gradient(center top , #F0F0F0 0%, #FFFFFF 100%) repeat scroll 0 0 transparent;
	margin-left: 15px !important;
	width: 150px !important;
	display: inline;
    float: left;
}

.fontPicker{
	/*background: -moz-linear-gradient(center top , #FFFFFF 0%, #F0F0F0 100%) repeat scroll 0 0 transparent;*/
	margin-top: 2px !important;
	margin-left: 15px !important;
	margin-bottom: 2px !important;/
	width: 110px !important;
    display: inline;
    float: left;
}

.sizeSelector select{
	margin: 0 !important;
}

#fontbox{
	width: 110px !important;
	/*background: -moz-linear-gradient(center top , #FFFFFF 0%, #F0F0F0 100%) repeat scroll 0 0 transparent;*/	
}

.sizeSelector{
	margin-left: 5px !important;
    display: inline;
    float: left;
}

.editor ul{
   margin-left:auto; 
   margin-right:auto
}

.editor a.button{
    display: block;
    height: 12px;
    padding: 5px;
    width: 12px;
    /*margin-top: 5px;*/
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}
.editor a.button:hover {
    border: 1px solid #CCC;
    padding: 4px;
}

.editor ul{
	display: inline;
    float: left;
    margin: 0;
    padding-left: 0
  }

.editor li {
    display: inline;
    float: left;
    padding-left: 5px;
}
.editor ul li.seperator {
    border-left: 1px solid #D5D5D5;
    margin-left: 5px;
}

.editor a.on {
    background-color: #E0E0E0 !important;
    border: 1px solid #CCCCCC;
    padding: 4px !important;
}

.editor .templates {
    background: url('../../../images/application-icon-large.png') 50% 50% no-repeat;
}

.editor .align-left {
    background: url('../../../images/edit-alignment-left.png') 50% 50% no-repeat;
}

.editor .align-center {
    background: url('../../../images/edit-alignment-center.png') 50% 50% no-repeat;
}

.editor .align-right {
    background: url('../../../images/edit-alignment-right.png') 50% 50% no-repeat;
}

.editor .align-top {
    background: url('../../../images/edit-vertical-alignment-top.png') 50% 50% no-repeat;
}

.editor .align-middle {
    background: url('../../../images/edit-vertical-alignment-middle.png') 50% 50% no-repeat;
}

.editor .align-bottom {
    background: url('../../../images/edit-vertical-alignment-bottom.png') 50% 50% no-repeat;
}

.editor .padding-left {
    background: url('../../../images/edit-padding-left.png') 50% 50% no-repeat;
}

.editor .padding-right {
    background: url('../../../images/edit-padding-right.png') 50% 50% no-repeat;
}

.editor .padding-top {
    background: url('../../../images/edit-padding-top.png') 50% 50% no-repeat;
}

.editor .padding-bottom {
    background: url('../../../images/edit-padding-bottom.png') 50% 50% no-repeat;
}

.editor .background-color{
    background: url('../../../images/edit-background-color.png') 50% 50% no-repeat;
}

.editor .text-color {
    background: url('../../../images/edit-text-color.png') 50% 50% no-repeat;
}

.editor .fontstyle-bold  {
    background: url('../../../images/edit-bold.png') 50% 50% no-repeat;
}

.editor .fontstyle-italic  {
    background: url('../../../images/edit-italic.png') 50% 50% no-repeat;
}

.editor .fontstyle-udl  {
    background: url('../../../images/edit-underline.png') 50% 50% no-repeat;
}

/*
 * Modal Dialogs
 */
.dialog_export .dialog_icon {
	display: none;
}
.dialog_templates .dialog_icon {
    display: none;
}
.dialog_columnconfig .dialog_icon {
	display: none;
}
.dialog_error .dialog_icon {
    background-position: -666px 15px;
}


}
.dialog_columnconfig .dialog_body {
    padding-left: 5px;
   float: left;
}
.dialog_templates .dialog_body {
    margin: auto !important
}

#template-carousel{
	 margin: auto !important
}
/*
.grab_overlay{
		background: black;
}
*/
div.rowlimit{
	/*margin-top: 5px;*/
	padding: 8px;
	height: 16px
}

div.resizer {
	border-left: 2px dashed black;
	z-index: 1000;
	cursor: e-resize;
    position: fixed;
    width: 2px;
    opacity: 0.5;

}



#resizearea {
	width: 30px;
	position: absolute;
}

div.resize_horizontal {
    cursor: ew-resize;
    opacity: 0.5;
    width: 1px;
    height:20pt;
    border-right: 3px solid black;
    background-color: black;
    margin-left: auto;
    margin-right: 0px;
}

textarea.formula{
	height: 100px !important;
    padding: 5px;
    width: 250px !important;
}

/*
 * Fontselector
 * 
*/
ul.fontselector {
  background: white;
  border: 1px solid #ccc;
  border-top: 0;
  font-size: 14px;
  float: left;
  list-style: none;
  margin: 0;
  padding:0;
  line-height: 1.2;
  z-index:    10;
  position:   absolute;
}
ul.fontselector li {
  margin:   0;
  padding:  0;
  list-style: none;
}
ul.fontselector a {
  display:    block;
  padding:    3px;
  color:      black;
  text-decoration: none;
}
ul.fontselector a:hover {
  background: #ddd;
  cursor:     pointer;
}
