<script type="text/x-jquery-tmpl" id="report-toolbar">
<div class="report-toolbar">
		<div id='format_toolbox'>
		</div>
</script>

<script type="text/x-jquery-tmpl" id="format-editor">
	<div id="edit-align" class="editor">
        <ul>
        	<li>
            	<a href="#select_templates" 
                class="i18n templates button disabled_editor" 
                title="select template"></a></li>
            <li class="seperator"><a href="#align_left" 
                class="i18n horz align-left button" 
                title="align left"></a></li>
            <li><a href="#align_center" 
                class="i18n horz align-center button" 
                title="align center"></a></li> 
            <li><a href="#align_right" 
                class="i18n horz align-right button" 
                title="align right"></a></li>            
            <li class="seperator">
            	<a href="#align_top" 
                class="i18n vert align-top button" 
                title="align top"></a></li>
            <li><a href="#align_middle" 
                class="i18n vert align-center button" 
                title="align middle"></a></li>   
            <li><a href="#align_bottom" 
                class="i18n vert align-bottom button" 
                title="align bottom"></a></li>               
	</div>            
    <div id="fontstyle" class="editor">
		<ul>
            <li><a href="#fontstyle_bold" 
                class="i18n fontstyle-bold button" 
                title="bold"></a></li>
            <li><a href="#fontstyle_italic" 
                class="i18n fontstyle-italic  button" 
                title="italic"></a></li> 
            <li><a href="#fontstyle_udl" 
                class="i18n fontstyle-udl  button" 
                title="underlined"></a></li>              
        </ul>
	</div>
		<div id="color" class="editor">
		<ul>
            <li class="seperator">
            <a href="#text_color" 
                class="i18n text-color button" 
                title="text color"></a></li>
            <li><a href="#background_color" 
                class="i18n background-color button" 
                title="background color"></a></li> 
        </ul>
	</div>
	<div class='fontpick_container'><div id='fontpicker' class='fontPicker'></div></div>	
	<div id='fontsize' class='sizeSelector'></div>
	
	<div class="nav-container">
		<a id="first" href="#first_page" class="first_page" title="First Page"></a>
		<a id="prev" href="#prev_page" class="prev_page" title="Previous Page"></a>
		<div id="curr_page"></div><div>/</div><div id="off_page"></div>
		<a id="next" href="#next_page" class="next_page" title="Next Page"></a>
		<a id="last" href="#last_page" class="last_page" title="Last Page"></a>
	</div>
</script>

        <script type="text/x-jquery-tmpl" id="template-selection">   
        	<div class="alertbox_h1">
			<span>Document Template </span>
			</div>   	
           <div id="template-carousel" style="text-align:center" class="jcarousel-skin-ie7">
             <ul>      
			 </ul>
            </div>
            <h3 id="template_name" class="top">My Template</h3>
            <div class="alertbox_h1">
			<span>Page Settings </span>
			</div>
			<div class="page_format">
            <ul> 
            <li>
            	<select id="selectedFormat" size="3">
            		<option>A4</option>
					<option>A3</option>
					<option>A5</option>
                </select>
            </li>            
            <li id='portrait'><a href="#page_portrait" 
                class="i18n pageformat portrait button" 
                title="portrait"></a></li>  

            <li id='landscape'><a href="#page_landscape" 
                class="i18n pageformat landscape button" 
                title="landscape"></a></li>            
             </ul>
			</div>
			<div class="alertbox_h1">
			<span>Page Margins </span>
			</div>
			<div class='page_margin'>
				<span>Top: </span><input type="text" name='margin-top' />
				<span>Bottom: </span><input type="text" name='margin-bottom' />
				<span>Left: </span><input type="text" name='margin-left' />
				<span>Right: </span><input type="text" name='margin-right' />
			</div>
        </script>

<script type="text/x-jquery-tmpl" id="template-filetree">
<div id="container_id">
</div>
<span class="folderexplorerfileinput">
<input id="fileInput" type="text">
</span>
</script>